@import "../../styles//mixins.scss";

.country-borders-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.country-borders-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.country-borders-button {
  padding: 6px 16px;
  background-color: var(--color-elements);
  color: var(--color-text);
  font-size: 14px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1), 0 0 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  cursor: pointer;
}

.country-borders-none {
  font-size: 16px;
  font-weight: 400;
}

@include media("LG") {
  .country-borders {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .country-borders-title {
    margin: 0;
    min-width: fit-content;
  }
}
