@import "../../styles//mixins.scss";

.borders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.borders_title {
  font-size: 18px;
  font-weight: 600;
}

.borders_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.borders_button {
  min-width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
  background-color: var(--color-elements);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1),
    1px 1px 12px 1px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.borders_button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1),
    2px 2px 12px 2px rgba(0, 0, 0, 0.08);
}

.borders_none {
  font-size: 16px;
  font-weight: 300;
}

@include media("SM") {
  .borders_button {
    min-width: 100px;
  }
}

@include media("LG") {
  .borders {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .borders_title {
    margin: 0;
    min-width: fit-content;
  }
}
