@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  width: 100%;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  background-color: var(--color-background);
}

.grid {
  width: 100%;
  margin: 0 auto;
  padding: $size-xxl;
  padding-bottom: $size-md;
  box-sizing: border-box;
}

@include media("SM") {
  .grid {
    padding: $size-xxl;
    padding-bottom: $size-md;
  }
}

@include media("MD") {
  .grid {
    padding: $size-xxxl;
    padding-bottom: $size-md;
  }
}

@include media("LG") {
  .grid {
    padding: $size-xxxl;
    padding-bottom: $size-md;
    width: 100%;
    max-width: 1288px;
  }
}

@include media("XL") {
  .grid {
    padding: $size-xxxl 0 $size-md;
  }
}
