:root {
  --color-text: hsl(200, 15%, 8%);
  --color-elements: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 98%);
  --color-input: hsl(0, 0%, 52%);
  --color-pagination--active: hsl(200, 19%, 18%);
}

[data-theme="dark"] {
  --color-text: hsl(0, 0%, 100%);
  --color-elements: hsl(209, 23%, 22%);
  --color-background: hsl(207, 26%, 17%);
  --color-input: hsl(0, 0%, 100%);
  --color-pagination--active: hsl(0, 0%, 100%);
}
