// MEDIA QUERIES
$SM: "min-width: 575px";
$MD: "min-width: 767px";
$LG: "min-width: 1024px";
$XL: "min-width: 1288px";

// SIZES
$size-xs: 4px;
$size-sm: 8px;
$size-md: 12px;
$size-lg: 16px;
$size-xl: 20px;
$size-xxl: 24px;