// MEDIA QUERIES
$SM: "min-width: 575px";
$MD: "min-width: 767px";
$LG: "min-width: 1024px";
$XL: "min-width: 1288px";

// SIZES
$size-xxs: 4px;
$size-xs: 8px;
$size-sm: 12px;
$size-md: 16px;
$size-xl: 24px;
$size-xxl: 32px;
$size-xxxl: 40px;
$size-g: 48px;
$size-xg: 60px;
$size-xxg: 72px;
