@import "../../styles/mixins.scss";

.countries-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 50px;
}

@include media("LG") {
  .countries-cards {
    padding: 20px;
  }
}
