@import "../../styles/mixins.scss";

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-in;
}

.countries-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 50px;
  margin-top: $size-xxl;
}

@include media("SM") {
  .countries-cards {
    padding: 0;
  }
}

@include media("XL") {
  .countries-cards {
    gap: 50px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
