@import "../../styles/mixins.scss";

.fade__in {
  animation: fadeIn 0.3s ease-in;
}

.fade__out {
  animation: fadeOut 0.3s ease-in;
}

.countries_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $size-xxxl;
  padding: 0 $size-g;
  margin-top: $size-xxl;
  min-height: 1800px;
}

.home_attribution {
  margin-top: $size-xxxl;
}

@include media("SM") {
  .countries_cards {
    padding: 0;
  }
}

@include media("XL") {
  .countries_cards {
    gap: 55px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
