@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.pagination_container {
  margin: $size-xxl auto 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: $size-xs;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.04), 0 0 6px rgba(0, 0, 0, 0.02);
}

.pagination_button {
  outline: none;
  border: none;
  color: #b7b5c1;
  background-color: var(--color-elements);
  transition: background-color 0.8s;
  user-select: none;

  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }

  &.active {
    color: var(--color-pagination--active);
    font-weight: bold;
  }

  &:focus-visible {
    @include focusBoxShadow;
  }
}

.pagination_buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.pagination_button__arrow {
  fill: #b7b5c1;

  &:disabled {
    background-color: var(--color-elements);
    cursor: none;
    pointer-events: none;
  }
}

.pagination_button__number {
  flex-grow: 1;
  min-width: 40px;
  width: 12%;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
}

.pagination_button__arrow {
  width: 48px;
  height: 40px;
}

@include media("SM") {
  .pagination_container {
    max-width: 616px;
  }
}

@include media("MD") {
  .pagination_button__number {
    width: 40px;
  }
}

@include media("LG") {
  .pagination_container {
    max-width: fit-content;
    margin: $size-xxxl auto;
  }
  .pagination_button__number {
    width: 60px;
  }
}
