@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navbar_container {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  background: var(--color-elements);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar_content {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 $size-xl;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar_text {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    @include focusOutline;
    border-radius: $size-xxs;
  }
}

.navbar_themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $size-xs;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline var(--color-text);
  }

  &:focus-visible {
    @include focusOutline;
    border-radius: $size-xxs;
  }
}

.navbar_themeText {
  font-weight: 600;
  font-size: 14px;
}

.navbar_themeIcon {
  width: 20px;
  height: 20px;
}

@include media("SM") {
  .navbar_content {
    padding: 0 $size-xl;
  }
}

@include media("MD") {
  .navbar_content {
    padding: 0 $size-xxl;
  }
}

@include media("LG") {
  .navbar_content {
    padding: 0 $size-xxl;
  }
}

@include media("XL") {
  .navbar_content {
    padding: 0;
    max-width: 1280px;
  }
}
