.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  height: 64px;
  background: var(--color-elements);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.08);
  padding: 0 20px 0 14px;
}

.navbar-text {
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

.darkMode-btn {
  display: flex;
  outline: none;
  border: none;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
}

.darkMode-icon {
  width: 14px;
}

.darkMode-text {
  font-weight: 600;
  font-size: 12px;
}
