* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background-light: hsl(0, 0%, 98%);
  --color-elements-light: hsl(0, 0%, 100%);
  --color-text-light: hsl(200, 15%, 8%);
  --color-input-light: hsl(0, 0%, 52%);


  --color-background-dark: hsl(207, 26%, 17%);
  --color-elements-dark: hsl(209, 23%, 22%);
}

.loading-spinner-small {
  width: 24px;
  height: 24px;
}

.loading-spinner-big {
  width: 48px;
  height: 48px;
}
