@import "../../styles/mixins.scss";

.details-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
}

.details-country,
.details-country-infos,
.details-country-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.details-country-back {
  width: 100px;
  padding: 6px 16px;
  background-color: var(--color-elements);
  color: var(--color-text);
  font-size: 14px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0 14px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: none;
}

.details-country-img {
  max-height: 280px;
}

.country-name {
  font-size: 24px;
  margin: 0;
}

.details-country-text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.details-country-text span {
  font-weight: 400;
}

@include media("LG") {
  .details-container {
    padding: 48px;
  }

  .details-country {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .details-country-infos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 700px;
  }

  .details-country-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .details-country-info-1,
  .details-country-info-2 {
    width: 50%;
  }
}
