@import "../../styles/mixins.scss";

.card {
  background: var(--color-elements);
  border-radius: $size-xs;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1),
      2px 12px 16px 2px rgba(0, 0, 0, 0.08);
  }

  &:focus-visible {
    transition: none;
    @include focusOutline;
  }
}

.card_image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 1.6;
}

.card_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: $size-xs;
}

.card_title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: $size-xs;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
}

.card_pop,
.card_region,
.card_capital {
  font-size: 14px;
  font-weight: 600;
}

.card_info__regular {
  font-weight: normal;
}

@include media("LG") {
  .card {
    width: 300px;
  }
}

@include media("XL") {
  .card {
    width: 280px;
  }
}
